#navigation {
  background-color: #e5e3df;
  padding-top: 20px;
  padding-bottom: 50px;
}

#navigation button.navbar-toggle,
#navigation button.navbar-toggle:focus {
  float: left;
  margin-left: 15px;
  background-color: #ffffff;
}

#navbar {
  background-color: #ffffff;
  border-radius: 4px;
}

#navbar ul.nav li,
#navbar ul.nav li a {
  line-height: 30px;
}

#navbar ul li a:hover {
  background-color: #e5e3df;
}

.navbar {
  background-color: #e5e3df;
}

.navbar .container-fluid {
  padding-left: 0;
  padding-right: 0;
}

#intro {
 background-color: #e5e3df;
}


/*
Padding is removed (via no-padding classes) and margin is used instead for these IDs because they're linked to from the navigation menu. If padding it used, it causes the clicked link to have 90px of space above it.

Note: this can only be used on sections that don't have a background color as the color won't go to the edges of the section using margin over padding.

*/
#about,
#contact {
  margin-top: 90px;
  margin-bottom: 90px;
}


/* Return to top button */
#return-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: rgb(43, 144, 217);
  background: rgba(43, 144, 217, 0.7);
  width: 50px;
  height: 50px;
  display: block;
  z-index: 1000;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  display: none;
  -webkit-transition: all 0.3s linear;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top i {
  color: #fff;
  margin: 0;
  position: relative;
  left: 16px;
  top: 10px;
  font-size: 19px;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
#return-to-top:hover {
  background: rgba(43, 144, 217, 0.9);
}


.ekko-lightbox .modal-footer ul {
  padding-bottom: 20px;
}


.margin5 { margin: 5px; }
.margin10 { margin: 10px; }
.margin15 { margin: 15px; }

.margin-top5 { margin-top: 5px; }
.margin-top10 { margin-top: 10px; }
.margin-top15 { margin-top: 15px; }
.margin-top20 { margin-top: 20px; }
.margin-top50 { margin-top: 50px; }

.margin-bottom5 { margin-bottom: 5px; }
.margin-bottom10 { margin-bottom: 10px; }
.margin-bottom15 { margin-bottom: 15px; }
.margin-bottom20 { margin-bottom: 20px; }
.margin-bottom50 { margin-bottom: 50px; }




.padding5 { padding: 5px; }
.padding10 { padding: 10px; }
.padding15 { padding: 15px; }

.padding-top5 { padding-top: 5px; }
.padding-top10 { padding-top: 10px; }
.padding-top15 { padding-top: 15px; }
.padding-top20 { padding-top: 20px; }
.padding-top30 { padding-top: 30px; }
.padding-top50 { padding-top: 50px; }

.padding-bottom5 { padding-bottom: 5px; }
.padding-bottom10 { padding-bottom: 10px; }
.padding-bottom15 { padding-bottom: 15px; }
.padding-bottom20 { padding-bottom: 20px; }
.padding-bottom30 { padding-bottom: 30px; }
.padding-bottom50 { padding-bottom: 50px; }